@import "../pages.scss";


.title {
	padding-top: 20px;
	padding-left: 200px;
}

.movies {
	display: flex;
	width: $pageWidth + 300px;
}

.form-section {
	margin-top: 100px;
}

.genres-section {
	margin-top: 50px;
}

.movies-section {
	width: $pageWidth;
	height: $pageHeight;
	margin-top: 30px;
	overflow: scroll;
}