@import "../pages.scss";


.title {
	padding-top: 20px;
	padding-left: 200px;
}

.movie-div {
	width: $pageWidth;
	height: $pageHeight - 200px;
	margin-left: 100px;
}

.movies {
	display: flex;
	width: $pageWidth;
}

.form-section {
	margin-top: 100px;
}

.genres-section {
	margin-top: 50px;
}

.movies-section {
	width: $pageWidth;
	height: $pageHeight - 200px;
	margin-top: 30px;
	overflow: scroll;
}