<div *ngrxLet="viewModel$ as visitedMovies">
    <div class="visited-movies" *ngIf="visitedMovies !== undefined && visitedMovies.length>0">
        <div>
            <h2 class="title">Last visited movies</h2>
        </div>
        <div class="visited-movies-list">

            @for(visitedMovie of visitedMovies; track visitedMovie) {
            <li>
                <a [routerLink]=getMovieUrl(visitedMovie)>
                    <img class="movie-image" src="{{visitedMovie.movie.image.url}}">
                    <span>{{visitedMovie.movie.title}}</span>
                </a>
            </li>
            }
        </div>
    </div>
</div>