.title {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

.visited-movies {
    display: flex;
    margin-top: 2%;
}

.visited-movies-list {
    width: 500px;
    height: 500px;
}

.movie-image {
    width: 80px;
    height: 80px;
    margin: 10px;
}

span {
    font-size: large;
    margin-left: 10px;
}