<div *ngrxLet="viewModel$ as visitedMovie">
    <div class="movie-table" *ngIf="visitedMovie !== undefined">
        <table>
            <tr>
                <td><img class="image-size" src={{visitedMovie.movie.image.url}}></td>
                <td class="movie-info">
            <tr>
                <td class="key">Title:</td>
                <td class="value">{{visitedMovie.movie.title}}</td>
            </tr>
            <tr>
                <td class="key">Generes:</td>
                <td class="value">{{visitedMovie.movie.genres}}</td>
            </tr>
            <tr>
                <td class="key">Popularity:</td>
                <td class="value">{{visitedMovie.movie.popularity | number: '1.2-2'}}</td>
            </tr>
            <tr>
                <td class="key">Budget:</td>
                <td class="value">{{visitedMovie.movie.budget | currency:'EUR'}}</td>
            </tr>
            </td>
            </tr>
        </table>
    </div>
</div>