.movie-table {
    padding-top: 50px;
    padding-left: 500px;
}

.movie-info {
    .key {
        text-align: left;
        font-size: larger;
        font-weight: 500;
    }

    .value {
        text-align: left;
        font-size: larger;
        font-weight: 400;
        padding-left: 15px;
    }

    font-size: large;
    padding-left: 10px;
}