@import "@app/colors";
@import "@app/mixins";

$margin : 10px;
$pageWidth: 1200px;
$pageHeight: 600px;
$imageSize: 200px;

.image-size {
	width: $imageSize;
	height: $imageSize;
	margin: $margin;
}

.errorMessage {
	margin-left: 10%;
	margin-top: 2%;
	width: 400px;
}